body#main.theme-hm {
  background: #fff;

  ::-webkit-scrollbar-track-piece {
    background: #fff;
  }
  ::-webkit-scrollbar-thumb {
    background: #C2BBA5;
  }

  #app-header,
  #directory-holder,
  #controls {
    border-bottom-color: #fff;
    background: #F0EBEB;
  }

  h1 {
    color: #232a34;
  }

  #settings {
    background: #fff;
    border-left-color: #C2BBA5;
    color: #232a34;

    .setting {
      .checkbox {
        background: #fff;
        border: 1px solid #C2BBA5;
      }

      &:not(.active):hover .checkbox,
      .setting.active .checkbox {
        background: #fff;
      }

      #theme-selector {
        color: #232a34;
        border-color: #eb6275;
        background-color: #fff;
      }
    }
  }

  #controls {
    #controls-right {
      #mode {
        color: #232a34;

        &.legit > p span {
          color: #232a34;
        }

        > p span {
          color: #eb6275;
        }

        #mode-toggle {
          div {
            background: #fff;
          }

          &.legit {
            background: #9ad094;
          }

          &:hover div {
            background: #fff;
          }
        }
      }

      #modifiers {
        color: #232a34;

        #regex, #numbers, #zero-index {
          background: #C2BBA5;
          color: #fff;

          &:not(.active):hover {
            background: #C2BBA5;
            opacity: .75;
          }

          &.active {
            background: #F67E8C;
            color: #fff;
          }
        }

        #regex-flags > div {
          background: #fff;

          &:not(.active):hover,
          &.active {
            background: #F67E8C;
          }
        }
      }
    }
  }

  .btn:hover {
    border-color: #C2BBA5;
    background: #FFF;
    color: #F67E8C;
  }

  input[type="text"] {
    background: #ffffff;
    border-color: #fff;
    color: #3A3D45;

    &:focus {
      border-color: #C2BBA5;
      background: #fff;
    }

    &::-webkit-input-placeholder {
      color: #a9b6d0;
    }
  }

  .ignored-files,
  .file-list li {
    color: #232a34;
  }

  .btn {
    background: #F67E8C;
    color: #fff;
    border: 2px solid #F67E8C;
  }

  #result-message {
    &.error {
      color: #eb6275;
    }

    &.success {
      color: #568c68;
    }
  }

  .old-filename {
    color: #eb6275;
  }

  .new-filename {
    color: #568c68;
  }
}
