$menu_gray: #22252b;
$button_gray: #383e49; // Also the dry-run toggle
$error_red: #eb6275;
$bright_green: #9ad094;
$content_background: #292c34; // Also the directory folder
$default_text: #8d95a1;
$textfield_bg: #1b1d23;
$textfield_text: #e4ecf8;
$textfield_selected_border: #8dacda; // Also the directory folder plus
$textfield_selected_bg: #414856;
$placeholder_text: #6b6f7a; // Also the settings icon color
$white: #fff;
$black: #000;
$menlo: "Menlo", "Arial", "Helvetica", "sans-serif";
